* text=auto eol=lf

*.js   text
*.jsx  text
*.ts   text
*.tsx  text
*.json text
*.css  text
*.scss text
*.md   text
*.html text

*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.webp binary
*.svg  text
